body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

header {
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}



.container {
    position: relative;
    max-width: 470px;
    background-color: cornflowerblue;
    width: calc(100% + 220px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 10px rgb(45, 44, 44);
    overflow: hidden;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

input {
    height: 50px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px;
    color: #333;
    background-color: #fff;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: #fff;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
    color: #fff;
}

form input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.form.login{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 140px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    bottom: -86%;
    transition: all 0.6s ease;
}
.container.active .form.login{
    bottom: -25%;
    box-shadow: 0 -5px 10px rgb(45, 44, 44);
    border-radius: 35%;
}

.container.active .form.login header{
    opacity: 1;
}

.container.active .form.Signup header{
    opacity: 0.6;
}



a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#form input {
    border: 1px solid#aaa;
}

#form input:focus {
    box-shadow: 0 1px 0#ddd;
}

form input[type="submit"] {
    border: none;
    background-color: blue;
    color: #fff;
    margin-bottom: 100px;
}
#form header{
    color: #333;
    opacity: 0.6;
}

#form input{
    border-radius: 15px;
    margin: 5px;
}
